services:
  web:
    build: .
    ports:
      - "5000"
  nginx:
    image: nginx:latest
    volumes:
      - ./conf/nginx-dev/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8001:80"
    depends_on:
      - web
