services:
  nginx:
    image: nginx:alpine
    ports:
      - "8004:80"
    volumes:
      - ./conf/nginx-dev/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

  web:
    build: .
    expose:
      - "5000"