services:
  web:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    ports:
      - "443:443"
    volumes:
      - ./cert/cert.pem:/app/cert.pem:ro
      - ./cert/key.pem:/app/key.pem:ro